body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #4d7da8;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #f2f3f6;
  font-weight: bold;
}

h1 {
  color: #faf7f7;
  
}
h2 {
  color: #faf9f9;
  text-align: left;
}
h3 {
  color: #faf9f9;
}
p {
  color: #faf8f8;
}
nav {
  display: flex;
  gap: 15px;
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: bold;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #0055aa;
}

/* Submenú "Cuento" */
.menu-cuento {
  position: relative;
}

.menu-cuento > a {
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  padding: 5px 0;
  z-index: 1;
  min-width: 180px;
}

.submenu a {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
}

.submenu a:hover {
  background-color: #eee;
}

.menu-cuento:hover .submenu {
  display: block;
}
.autores-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-img {
  width: 150px;
  height: 180px;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 10px;
}

.card-name {
  font-size: 16px;
  margin: 8px 0;
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
}